
    <link rel="stylesheet" href="/assets/css/song.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <div class="player" ng-show="params.key !=''">
        <div class="cover">
            <img src="{{des.thumb}}" alt="">
        </div>
        <div class="info px-2">
            <div class="title">{{des.title}}</div>
            <div class="singer">{{des.singerTitle}}</div>
        </div>
        <div class="volume-box">
            <span class="volume-down" ng-click="handleVolumeDown()"><i class="material-icons">remove</i></span>
            <!-- <input type="range" class="volume-range" step="1" value="80" min="0" max="100"
                oninput="music.volume = this.value/100"> -->
            <input type="range" class="volume-range" step="1" value="80" min="0" max="100"
                ng-change="handleVolumeBar()" ng-model="volume">
            <span class="volume-up" ng-click="handleVolumeUp()"><i class="material-icons">add</i></span>
            <!-- <i class="material-icons volume_off" ng-click="handleVolumeOff()">volume_off</i> -->
        </div>
        <div class="btn-box">
            <i class="material-icons repeat" ng-click="handleRepeat()">repeat</i>
            <i class="material-icons favorite active" ng-click="handleFavorite()">favorite</i>
            <i class="material-icons volume" ng-click="handleVolume()">volume_up</i>
            <a ng-click="download()" download><i class="material-icons file_download">file_download</i></a>
        </div>
        <div class="music-box">
            <input type="range" step="1" class="seekbar" value="0" min="0" max="100" ng-change="handleSeekBar()" ng-model="seek">

            <audio class="music-element" audio-events>
                <source src="{{des.location}}" type="audio/mp3">
            </audio>
            <span class="current-time">0:0</span><span class="duration">0:0</span>
            <span class="play" ng-click="playAudio()">
                <i class="material-icons">play_arrow</i>
            </span>
        </div>
    </div>
    
    <div class="container pt-5" ng-show="params.yb != ''" style="height: 100vh;">
        
        <div class="py-5 h-100 d-flex justify-content-center">
            <video width="auto" height="100%" controls border="0"  autoplay>
                <source src="/yt/video/{{params.yb}}.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
            </video>
        </div>
    </div>