<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zing MP3 VIP - Trải nghiệm không gian âm nhạc đẳng cấp của Zing Mp3</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <div id="wrapper">
    <div class="wrapper_page">
      <section class="header">
          <div class="header_main">
              <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                  <div class="container-fluid px-md-5">
                    <a class="navbar-brand logo" href="#">
                        <img src="/assets/images/logo_zingmp3.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">VIP</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Gói Data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">VIP Family</a>
                        </li>
                      </ul>
                      <a class="" href="#">Đăng nhập</a>
                    </div>
                  </div>
              </nav>
          </div>
          <div class="header_sub"></div>
      </section>

      <section class="body">
        <div class="body-container">
          <div class="cover-container cover-home">
              <div class="container py-5">
                <form class="form-floating search_form" id="searchForm"  onsubmit="search(this);">
                  <input type="text" class="form-control" id="floatingInputSearch" placeholder="Tìm kiếm" value="">
                    <label for="floatingInputSearch">Tìm kiếm</label>
                </form>
              </div>
              <div class="package d-none">
                  <div class="package__container">
                      <div class="cover cover--6-month"></div>
                      <div class="package__info">
                          <div class="package__month">6 THÁNG</div>
                          <div class="package__line"></div>
                          <div class="package__price">
                              <div class="new-price">
                                  <div class="before-dot">279</div>
                                  <div class="price-block">
                                      <div class="after-dot">.000</div>
                                      <div class="unit-currency">VNĐ</div>
                                  </div>
                              </div>
                              <s class="old-price">354.000 VNĐ</s>
                          </div>
                      </div>
                      <a class="package__btn" href="#" onclick="zmp3BankingPay.step2(6, 279000, true);">Mua VIP</a>
                  </div>
                  <div class="package__container">
                      <div class="cover cover--1-year"></div>
                      <div class="package__info">
                          <div class="package__month">1 NĂM</div>
                          <div class="package__line"></div>
                          <div class="package__price">
                              <div class="new-price">
                                  <div class="before-dot">499</div>
                                  <div class="price-block">
                                      <div class="after-dot">.000</div>
                                      <div class="unit-currency">VNĐ</div>
                                  </div>
                              </div>
                              <s class="old-price">708.000 VNĐ</s>
                          </div>
                      </div>
                      <a class="package__btn" href="#" onclick="zmp3BankingPay.step2(12, 499000, true);">Mua VIP</a>
                  </div>
                  <div class="package__container">
                      <div class="cover cover--2-year"></div>
                      <div class="package__info">
                          <div class="package__month">2 NĂM</div>
                          <div class="package__line"></div>
                          <div class="package__price">
                              <div class="new-price">
                                  <div class="before-dot">899</div>
                                  <div class="price-block">
                                      <div class="after-dot">.000</div>
                                      <div class="unit-currency">VNĐ</div>
                                  </div>
                              </div>
                              <s class="old-price">1.416.000 VNĐ</s>
                          </div>
                      </div>
                      <a class="package__btn" href="#" onclick="zmp3BankingPay.step2(24, 899000, true);">Mua VIP</a>
                  </div>
                  <p class="require-login-zalo has-tips">* Lưu ý: Bạn cần đăng nhập trước khi mua</p>

              </div>
          </div>
        </div>
      </section>

      <footer class="footer">

      </footer>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="/assets/js/main.js"></script>


</body>
</html>