<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zing MP3 VIP - Trải nghiệm không gian âm nhạc đẳng cấp của Zing Mp3</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body ng-app="app.music">
  <div id="wrapper" ng-controller="songCtrl">
    <div class="wrapper_page">
      <section class="header">
          <div class="header_main">
              <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                  <div class="container-fluid px-md-5">
                    <a class="navbar-brand logo" href="#">
                        <img src="/assets/images/logo_zingmp3.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">VIP</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Gói Data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">VIP Family</a>
                        </li>
                      </ul>
                      <a class="btn btn-light" href="#">Đăng nhập</a>
                    </div>
                  </div>
              </nav>
          </div>
          <div class="header_sub"></div>
      </section>

      <section class="body">
        <div class="body-container">
          <div class="cover-container cover-home pt-5">
              <div class="container py-5">
                <form class="form-floating search_form" id="searchForm"  ng-submit="search()">
                  <input type="text" class="form-control" id="floatingInputSearch" placeholder="Tìm kiếm" ng-model="key">
                    <label for="floatingInputSearch">Tìm kiếm</label>
                </form>

                <h2 class="text-white mt-5">{{title}}</h2>

                <div class="row mt-1 mb-4">
                  <div class="col">
                    <ul class="list-group list-group-flush song_list">
                      <a class="list-group-item d-flex justify-content-start" ng-repeat="item in songList" ng-if="$index % 2 == 0" href="/bai-hat/{{item.song_url}}">
                        <img src="{{item.img_url}}" alt="{{item.song}}" class="song_img img-thumbnail p-0">
                        <div class="song_des ms-3">
                          <p class="song_tt text-dark">{{item.song}}</p>
                          <p class="song_sg text-secondary text-small">{{item.singer}}</p>
                        </div>
                      </a>
                    </ul>
                  </div>
                  <div class="col">
                    <ul class="list-group list-group-flush song_list">
                      <a class="list-group-item d-flex justify-content-start" ng-repeat="item in songList" ng-if="$index % 2 != 0" href="/bai-hat/{{item.song_url}}">
                        <img src="{{item.img_url}}" alt="{{item.song}}" class="song_img img-thumbnail p-0">
                        <div class="song_des ms-3">
                          <p class="song_tt text-dark">{{item.song}}</p>
                          <p class="song_sg text-secondary text-small">{{item.singer}}</p>
                        </div>
                      </a>
                    </ul>
                  </div>
                </div>
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center" ng-if="pages > 0">
                    <!-- Fist item -->
                    <li class="page-item disabled" ng-if="current == 1">
                      <a class="page-link" href="/" tabindex="-1" aria-disabled="true"><</a>
                    </li>
                    <li class="page-item" ng-if="current > 1">
                      <a class="page-link" href="/{{lo}}/{{current-1}}"" tabindex="-1"><</a>
                    </li>

                    <!-- ITEMS -->

                    <li class="page-item disabled" ng-if="current > 3">
                      <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item" ng-repeat="item in pageList | limitTo: 3 track by $index">
                      <a class="page-link" ng-href="/{{lo}}/{{$index+1}}">{{$index+1}}</a>
                    </li>
                    <li class="page-item disabled" ng-if="pages > 3">
                      <a class="page-link" href="#">...</a>
                    </li>

                    <!-- Last item -->
                    <li class="page-item" ng-if="current < pages">
                      <a class="page-link" href="/{{lo}}/{{current+1}}">></a>
                    </li>
                    <li class="page-item disabled" ng-if="current == pages">
                      <a class="page-link" href="/" tabindex="-1" aria-disabled="true">></a>
                    </li>
                  </ul>
                </nav>
              </div>
          </div>
        </div>
      </section>

      <footer class="footer">

      </footer>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/song.js"></script>
  <script src="/assets/js/services/svSongs.js"></script>


</body>
</html>